Repository Faizanmal/All-in-one-Design: changes, and which pre-commit hooks are due for each by the changed paths.
All: django-check, django-migrations

django-check:
  name: Django Check
  entry: python backend/manage.py check
  language: system
  pass_filenames: false
  always_run: false

django-migrations:
  name: Django Migrations Check
  entry: python backend/manage.py makemigrations --dry-run --check
  language: system
  pass_filenames: false

improve auth flow
  backend/accounts/admin.py
  backend/accounts/migrations/0001_initial.py
  backend/accounts/models.py
  backend/accounts/serializers.py
  backend/accounts/urls.py
  backend/accounts/views.py
  backend/ai_services/prompt_templates.py
  backend/ai_services/urls.py
  backend/ai_services/views.py
  backend/backend/cache_utils.py
  backend/projects/migrations/0008_designtemplate_projects_de_categor_2d68e5_idx_and_more.py
  backend/projects/models.py
  backend/projects/tasks.py
  backend/projects/views.py
  backend/subscriptions/business_rules.py
  backend/subscriptions/urls.py
  backend/subscriptions/views.py
  backend/teams/permissions.py
  backend/teams/views.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/dashboard/page.tsx
  frontend/src/app/editor/page.tsx
  frontend/src/app/projects/page.tsx
  frontend/src/components/error-boundary.tsx
  frontend/src/components/loading-skeletons.tsx
  frontend/src/components/ui/skeleton.tsx
  frontend/src/hooks/useCollaborativeCanvas.ts
Due: django-check, django-migrations

improve UI & add missing pages
  CODE_OF_CONDUCT.md
  DEPLOYMENT.md
  HEALTH_CHECK.md
  SECURITY.md
  backend/backend/security_middleware.py
  frontend/lint.json
  frontend/lint2.json
  frontend/lint_output.txt
  frontend/src/__tests__/setup.tsx
  frontend/src/app/auth/google/callback/page.tsx
  frontend/src/app/layout.tsx
  frontend/src/components/accessibility/AccessibilityAudit.tsx
  frontend/src/components/canvas/AlignmentGuides.tsx
  frontend/src/components/canvas/CanvasEditor.tsx
  frontend/src/components/canvas/CollaborativeCanvas.tsx
  frontend/src/components/canvas/LayersPanel.tsx
  frontend/src/components/export-presets/ExportPresetsManager.tsx
  frontend/src/components/features/asset-management/AssetManager.tsx
  frontend/src/components/media-assets/MediaAssets.tsx
  frontend/src/components/media-assets/VideoTimelineEditor.tsx
  frontend/src/components/offline-pwa/OfflineSettings.tsx
  frontend/src/components/quota/QuotaDashboard.tsx
Due: django-check

improve UI & add missing pages
  .gitignore
  CODE_OF_CONDUCT.md
  DEPLOYMENT.md
  HEALTH_CHECK.md
  SECURITY.md
  backend/backend/security_middleware.py
  frontend/lint.json
  frontend/lint2.json
  frontend/lint_output.txt
  frontend/postcss.config.mjs
  frontend/src/__tests__/setup.tsx
  frontend/src/app/auth/google/callback/page.tsx
  frontend/src/app/layout.tsx
  frontend/src/components/accessibility/AccessibilityAudit.tsx
  frontend/src/components/canvas/AlignmentGuides.tsx
  frontend/src/components/canvas/CanvasEditor.tsx
  frontend/src/components/canvas/CollaborativeCanvas.tsx
  frontend/src/components/canvas/LayersPanel.tsx
  frontend/src/components/export-presets/ExportPresetsManager.tsx
  frontend/src/components/features/asset-management/AssetManager.tsx
  frontend/src/components/media-assets/MediaAssets.tsx
  frontend/src/components/media-assets/VideoTimelineEditor.tsx
  frontend/src/components/offline-pwa/OfflineSettings.tsx
  frontend/src/components/quota/QuotaDashboard.tsx
Due: django-check

Enhance accessibility testing and AI services integration
  .gitignore
  backend/accessibility_testing/serializers.py
  backend/accessibility_testing/views.py
  backend/ai_services/resilient_gateway.py
  backend/backend/asgi.py
  backend/backend/settings.py
  backend/projects/collaboration_consumer.py
  backend/projects/views.py
  backend/requirements.txt
  backend/studio3d/serializers.py
  backend/studio3d/views.py
  frontend/next.config.ts
  frontend/package-lock.json
  frontend/src/__tests__/editor.test.tsx
  frontend/src/app/editor-v2/page.tsx
  frontend/src/app/editor/page.tsx
  frontend/src/app/globals.css
  frontend/src/app/page.tsx
  frontend/src/app/projects/[id]/page.tsx
  frontend/src/app/signup/page.tsx
  frontend/src/app/template-marketplace/page.tsx
  frontend/src/components/TemplateLibrary.tsx
  frontend/src/components/ai/AIAssistantPanel.tsx
  frontend/src/components/canvas/AdvancedAIGenerateDialog.tsx
  frontend/src/components/canvas/CanvasContainer.tsx
  frontend/src/components/canvas/CanvasEditor.tsx
  frontend/src/components/canvas/CollaborativeCanvas.tsx
  frontend/src/components/collaboration/CommentsPanel.tsx
  frontend/src/components/export/ExportModal.tsx
  frontend/src/components/layout/DashboardSidebar.tsx
  frontend/src/components/layout/MainHeader.tsx
  frontend/src/components/template-marketplace/TemplateMarketplace.tsx
  frontend/src/components/ui/sidebar.tsx
  frontend/src/components/ui/skeloton.tsx
  frontend/src/hooks/useCollaborativeCanvas.ts
  frontend/src/lib/auth-context.tsx
  frontend/src/lib/brand-kit-api.ts
  frontend/src/lib/design-api.ts
  frontend/vitest.config.ts
Due: django-check

add openai editor improvement
  backend/authentication/openapi_extensions.py
  backend/backend/ws_auth.py
  frontend/src/__tests__/e2e/core-editor-loop.test.tsx
  frontend/src/components/collaboration/CollaborationBar.tsx
  frontend/src/components/collaboration/ShareProjectDialog.tsx
  frontend/src/components/ui/skeloton.tsx.bak
  frontend/src/lib/auth-token.ts
  frontend/src/lib/collab-sync.ts
Due: django-check

Remove PolinRider malware staging from postcss.config.mjs
  frontend/postcss.config.mjs
Due: none

Path conditions:
  django-check: any of: ^backend/ and \.py$
  django-migrations: any of: ^backend/(.*/)?(models|admin)\.py$ and \.py$
